.banner {
  padding-top: 120px;
  color: #000000;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  padding: 0;
  font-size: 48px;
  text-shadow: 0 0 2px rgba(0,0,0,0.1);
}

.banner p {
  margin: 0;
  padding: 16px 0;
  font-size: 24px;
  font-style: italic;
}

.banner h2 {
  color: white;
  text-shadow: 1px 1px 1px #635f5f;
}

