.footer {
  background-color: #e9f1f5;
  padding: 10px;
  display: flex;
  height: 230px;
  align-items: center;
  border-top: 1px solid;
}

.footer li {
  font-size: 14px;
  color: black;
  display: inline-block;
  transition: 1s;
}

.footer ul {
  list-style-type: none;
}

.footer a {
  text-decoration: none;
  font-size: 14px;
  color: #000000;
}

.footer a:hover {
  text-decoration: none;
  color: black;
}

.footer h6 {
  padding-top: 15px;
  font-size: 14px;
}
